/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 18, main.css.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 22, main.css.scss */
body {
  font: small/1.3em Arial, sans-serif;
  line-height: 1.4;
  background: #EFEBE8;
  font-family: arial; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 35, main.css.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 40, main.css.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 49, main.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 62, main.css.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 70, main.css.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 80, main.css.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 88, main.css.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 99, main.css.scss */
#main_frame_order_form {
  width: 650px;
  margin: 10px auto;
  background: white;
  padding: 5px 10px 10px 10px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 4px 4px 4px #cfcfcf; }

/* line 109, main.css.scss */
.main_frame_background_order_form {
  background: #F5FAEE;
  margin-top: 10px;
  width: 620px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  overflow: hidden; }

/* line 119, main.css.scss */
.form_field_right {
  margin-left: 15px; }

/* line 123, main.css.scss */
input.radio_btns {
  margin-right: 4px; }

/* line 131, main.css.scss */
.form_background_white {
  background: white;
  padding: 6px;
  border: solid #cfcfcf 1px; }

/* line 137, main.css.scss */
.jobtype_added_form {
  display: none; }

/* line 143, main.css.scss */
.signin-header {
  font-weight: 100; }

/* line 147, main.css.scss */
.order_form_header {
  margin-left: 7px; }

/* line 151, main.css.scss */
.required {
  color: red; }

/* line 155, main.css.scss */
.required_delivery {
  color: red; }

/* line 160, main.css.scss */
#content_left_signup_form {
  padding: 0 50px 0 0;
  width: 300px;
  float: left; }

/* line 166, main.css.scss */
#content_right_signup_form {
  float: right;
  width: 295px; }

/* line 171, main.css.scss */
.vertical_line {
  border-left: solid #cccccc 1px;
  height: 420px;
  float: left;
  position: relative;
  right: 50px;
  top: 2px; }

/* line 181, main.css.scss */
.btn_style_order_form {
  padding: 5px 9px 5px 9px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  background: #41A900;
  border-style: none;
  font-size: 12px; }
  /* line 189, main.css.scss */
  .btn_style_order_form:hover {
    background: #547A0F; }
  /* line 192, main.css.scss */
  .btn_style_order_form:active {
    background: #547A0F; }

/* line 197, main.css.scss */
.job_type_button {
  padding: 5px 9px 5px 9px;
  border-radius: 5px;
  color: black;
  font-size: 13px;
  background: #F1EEEB;
  border-style: none;
  font-size: 12px;
  margin-right: 7px; }
  /* line 206, main.css.scss */
  .job_type_button:hover {
    background: #DDDBD7; }
  /* line 209, main.css.scss */
  .job_type_button:active {
    background: #988EA5; }

/* line 214, main.css.scss */
.closeBtn {
  float: right;
  margin-right: 20px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background: #962C1D;
  font-weight: bold;
  border-style: none;
  padding-top: 3px;
  padding-bottom: 3px; }

/* line 227, main.css.scss */
.add-entry {
  float: right;
  margin-right: 6px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  background: #962C1D;
  font-weight: bold;
  border-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #629E20; }

/* line 242, main.css.scss */
.progress-bar-container {
  position: relative;
  right: -20px; }

/* line 246, main.css.scss */
.circle_active {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #42A900; }

/* line 253, main.css.scss */
.circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #e4e4e4;
  margin-left: 115px; }

/* line 261, main.css.scss */
.progress_number {
  font-weight: bold;
  position: relative;
  right: -10px;
  top: 3px;
  font-size: 15px;
  color: white;
  float: left; }

/* line 271, main.css.scss */
.active {
  background: #41a900 !important; }

/* line 275, main.css.scss */
.active-font {
  color: #41a900 !important; }

/* line 279, main.css.scss */
.progress_description {
  float: left;
  font-size: 12px;
  position: relative;
  right: 20px;
  top: 10px;
  color: #e4e4e4;
  text-align: center;
  width: 70px;
  letter-spacing: 1px;
  line-height: 14px; }

/* line 292, main.css.scss */
.progress-line {
  border-top: dotted #e4e4e4 1px;
  height: 1px;
  width: 600px;
  position: relative;
  top: 15px;
  right: -20px; }

/* line 302, main.css.scss */
.float-right {
  float: right; }

/* line 306, main.css.scss */
.float-left {
  float: left; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 318, main.css.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 326, main.css.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 337, main.css.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 346, main.css.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 363, main.css.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 376, main.css.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 393, main.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 398, main.css.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 407, main.css.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 432, main.css.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 440, main.css.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 444, main.css.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 448, main.css.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 458, main.css.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 463, main.css.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  /* line 468, main.css.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 473, main.css.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 477, main.css.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 487, main.css.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 493, main.css.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
